node_modules
*.crx
*.pem
.DS_Store
._*
*.zip
.DS_Store

# Mac Time Machine files
"* 2.*"
"* 2"

# VSCode files
.vscode/*
*.code-workspace

# Files generated bu VSCode Counter 
.VSCodeCounter/*

# Local History for Visual Studio Code
.history/

# ignore the test results for unit tests - only need to track ref results
unit_tests/*/*/test

# XCode related files
xcuserdata/

browser_variants/firefox/*
!browser_variants/firefox/manifest.json
